In [1]:
import pandas as pd

In [3]:
file_path = "21zpallagi.csv"
df = pd.read_csv(file_path)
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,720280.0,466930.0,75840.0,165330.0,677820.0,21700.0,...,0.0,0.0,42310.0,35969.0,632780.0,2182999.0,630530.0,2176448.0,2290.0,5215.0
1,1,AL,0,2,524160.0,264900.0,109720.0,134980.0,495550.0,14170.0,...,0.0,0.0,87370.0,115842.0,435160.0,1402396.0,432590.0,1393449.0,3100.0,7423.0
2,1,AL,0,3,291860.0,120090.0,116380.0,46410.0,275270.0,8580.0,...,0.0,0.0,79750.0,165576.0,212390.0,608660.0,209210.0,597461.0,4110.0,11648.0
3,1,AL,0,4,184320.0,48650.0,115740.0,16120.0,173910.0,4010.0,...,0.0,0.0,60450.0,172959.0,122910.0,409261.0,120020.0,397318.0,2690.0,12922.0
4,1,AL,0,5,287720.0,38750.0,234070.0,9640.0,272240.0,7750.0,...,110.0,34.0,128440.0,638854.0,159690.0,678251.0,152450.0,616679.0,8440.0,54805.0

In [5]:
columns_to_keep = [
    'STATE', 'zipcode', 'agi_stub', 'N1', 'mars1', 'MARS2',
    'A00100', 'A02650', 'N01000', 'A01000', 'N02910', 'A02910',
    'N04470', 'A04470', 'N17000', 'A17000', 'N18300', 'A18300',
    'N19700', 'A19700', 'N20950', 'A20950', 'N85775', 'A85300'
]

df_filtered = df[columns_to_keep]
df_filtered

,STATE,zipcode,agi_stub,N1,mars1,MARS2,A00100,A02650,N01000,A01000,...,N17000,A17000,N18300,A18300,N19700,A19700,N20950,A20950,N85775,A85300
0,AL,0,1,720280.0,466930.0,75840.0,9323038.0,9449210.0,37020.0,64524.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,18959208.0,19094415.0,38080.0,128686.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,17933235.0,18056325.0,39930.0,210305.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,15990196.0,16092775.0,34910.0,265069.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,39500365.0,39796286.0,89550.0,1420250.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166216,WY,99999,2,3200.0,1830.0,860.0,116369.0,117393.0,450.0,1904.0,...,40.0,629.0,50.0,111.0,30.0,68.0,0.0,0.0,250.0,0.0
166217,WY,99999,3,2180.0,1020.0,950.0,134885.0,135679.0,420.0,3169.0,...,40.0,632.0,60.0,127.0,40.0,225.0,0.0,0.0,130.0,0.0
166218,WY,99999,4,1620.0,520.0,990.0,140252.0,140884.0,400.0,3803.0,...,0.0,0.0,60.0,180.0,40.0,445.0,0.0,0.0,30.0,0.0
166219,WY,99999,5,2620.0,480.0,2060.0,355120.0,357996.0,1000.0,21037.0,...,70.0,1091.0,210.0,1121.0,150.0,1841.0,0.0,0.0,20.0,0.0
166220,WY,99999,6,1060.0,230.0,840.0,854913.0,860241.0,780.0,216721.0,...,0.0,0.0,320.0,2414.0,280.0,15140.0,40.0,559.0,0.0,10125.0

In [10]:
df_AL = df_filtered.loc[df_filtered['STATE'] == "AL"]
df_AL

,STATE,zipcode,agi_stub,N1,mars1,MARS2,A00100,A02650,N01000,A01000,...,N17000,A17000,N18300,A18300,N19700,A19700,N20950,A20950,N85775,A85300
0,AL,0,1,720280.0,466930.0,75840.0,9323038.0,9449210.0,37020.0,64524.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,18959208.0,19094415.0,38080.0,128686.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,17933235.0,18056325.0,39930.0,210305.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,15990196.0,16092775.0,34910.0,265069.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,39500365.0,39796286.0,89550.0,1420250.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457,AL,99999,2,6090.0,3460.0,950.0,220879.0,222224.0,370.0,915.0,...,300.0,2638.0,290.0,476.0,450.0,4633.0,150.0,3521.0,360.0,0.0
3458,AL,99999,3,3320.0,1710.0,970.0,203314.0,204536.0,390.0,1873.0,...,100.0,910.0,270.0,940.0,220.0,1414.0,0.0,0.0,70.0,0.0
3459,AL,99999,4,1940.0,790.0,900.0,167708.0,168589.0,400.0,2852.0,...,40.0,284.0,230.0,985.0,190.0,1500.0,0.0,0.0,30.0,0.0
3460,AL,99999,5,2930.0,780.0,1990.0,403076.0,407837.0,1090.0,19023.0,...,90.0,966.0,620.0,4013.0,550.0,7006.0,30.0,487.0,0.0,0.0
3461,AL,99999,6,1950.0,390.0,1560.0,1892226.0,1907698.0,1480.0,450393.0,...,20.0,406.0,1040.0,9728.0,970.0,65691.0,120.0,1656.0,0.0,24637.0