In [11]:
import pandas as pd

In [12]:
file_path = "21zpallagi.csv"
df = pd.read_csv(file_path)
df.head()

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,720280.0,466930.0,75840.0,165330.0,677820.0,21700.0,...,0.0,0.0,42310.0,35969.0,632780.0,2182999.0,630530.0,2176448.0,2290.0,5215.0
1,1,AL,0,2,524160.0,264900.0,109720.0,134980.0,495550.0,14170.0,...,0.0,0.0,87370.0,115842.0,435160.0,1402396.0,432590.0,1393449.0,3100.0,7423.0
2,1,AL,0,3,291860.0,120090.0,116380.0,46410.0,275270.0,8580.0,...,0.0,0.0,79750.0,165576.0,212390.0,608660.0,209210.0,597461.0,4110.0,11648.0
3,1,AL,0,4,184320.0,48650.0,115740.0,16120.0,173910.0,4010.0,...,0.0,0.0,60450.0,172959.0,122910.0,409261.0,120020.0,397318.0,2690.0,12922.0
4,1,AL,0,5,287720.0,38750.0,234070.0,9640.0,272240.0,7750.0,...,110.0,34.0,128440.0,638854.0,159690.0,678251.0,152450.0,616679.0,8440.0,54805.0

In [13]:
columns_to_keep = [
    'STATE', 'zipcode', 'agi_stub', 'N1', 'mars1', 'MARS2', 
    "MARS4"
    ,'A00100', 'A02650', 'N01000', 'A01000', 'N02910', 'A02910',
    'N04470', 'A04470', 'N17000', 'A17000', 'N18300', 'A18300',
    'N19700', 'A19700', 'N20950', 'A20950', 'N85775', 'A85300'
]

df_filtered = df[columns_to_keep]
df_filtered

,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,A00100,A02650,N01000,...,N17000,A17000,N18300,A18300,N19700,A19700,N20950,A20950,N85775,A85300
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9323038.0,9449210.0,37020.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,18959208.0,19094415.0,38080.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,17933235.0,18056325.0,39930.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,15990196.0,16092775.0,34910.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,39500365.0,39796286.0,89550.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166216,WY,99999,2,3200.0,1830.0,860.0,420.0,116369.0,117393.0,450.0,...,40.0,629.0,50.0,111.0,30.0,68.0,0.0,0.0,250.0,0.0
166217,WY,99999,3,2180.0,1020.0,950.0,170.0,134885.0,135679.0,420.0,...,40.0,632.0,60.0,127.0,40.0,225.0,0.0,0.0,130.0,0.0
166218,WY,99999,4,1620.0,520.0,990.0,90.0,140252.0,140884.0,400.0,...,0.0,0.0,60.0,180.0,40.0,445.0,0.0,0.0,30.0,0.0
166219,WY,99999,5,2620.0,480.0,2060.0,70.0,355120.0,357996.0,1000.0,...,70.0,1091.0,210.0,1121.0,150.0,1841.0,0.0,0.0,20.0,0.0
166220,WY,99999,6,1060.0,230.0,840.0,20.0,854913.0,860241.0,780.0,...,0.0,0.0,320.0,2414.0,280.0,15140.0,40.0,559.0,0.0,10125.0

In [14]:
df_AL = df_filtered.loc[df_filtered['STATE'] == "AL"]
df_AL

,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,A00100,A02650,N01000,...,N17000,A17000,N18300,A18300,N19700,A19700,N20950,A20950,N85775,A85300
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9323038.0,9449210.0,37020.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,18959208.0,19094415.0,38080.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,17933235.0,18056325.0,39930.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,15990196.0,16092775.0,34910.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,39500365.0,39796286.0,89550.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457,AL,99999,2,6090.0,3460.0,950.0,1520.0,220879.0,222224.0,370.0,...,300.0,2638.0,290.0,476.0,450.0,4633.0,150.0,3521.0,360.0,0.0
3458,AL,99999,3,3320.0,1710.0,970.0,570.0,203314.0,204536.0,390.0,...,100.0,910.0,270.0,940.0,220.0,1414.0,0.0,0.0,70.0,0.0
3459,AL,99999,4,1940.0,790.0,900.0,230.0,167708.0,168589.0,400.0,...,40.0,284.0,230.0,985.0,190.0,1500.0,0.0,0.0,30.0,0.0
3460,AL,99999,5,2930.0,780.0,1990.0,150.0,403076.0,407837.0,1090.0,...,90.0,966.0,620.0,4013.0,550.0,7006.0,30.0,487.0,0.0,0.0
3461,AL,99999,6,1950.0,390.0,1560.0,50.0,1892226.0,1907698.0,1480.0,...,20.0,406.0,1040.0,9728.0,970.0,65691.0,120.0,1656.0,0.0,24637.0

In [15]:
# Dictionary mapping original column names to shorter names
short_column_names = {
    'STATE': 'State',
    'zipcode': 'Zip',
    'agi_stub': 'AGI_cat',
    'N1': 'Returns',
    'mars1': 'Single',
    'MARS2': 'Joint',
    'MARS4': 'Hd_of_Hshld',
    'A00100': 'AGI',
    'A02650': 'Total_Income',
    'N01000': 'Cap_Gain_Returns',
    'A01000': 'Cap_Gain_Amt',
    'N02910': 'Std_Ded_Charity_Returns',
    'A02910': 'Std_Ded_Charity_Amt',
    'N04470': 'Itemized_Ded_Returns',
    'A04470': 'Itemized_Ded_Amt',
    'N17000': 'Med_Dental_Returns',
    'A17000': 'Med_Dental_Amt',
    'N18300': 'Total_Taxes_Returns',
    'A18300': 'Total_Taxes_Amt',
    'N19700': 'Charitable_Returns',
    'A19700': 'Charitable_Amt',
    'N20950': 'Misc_Ded_Returns',
    'A20950': 'Misc_Ded_Amt',
    'N85775': 'Advance_Premium_Returns',
    'A85300': 'Net_Investment_Tax_Amt'
}

# Rename columns
df_short_names = df_AL.rename(columns=short_column_names)

# Now df_short_names contains columns with shorter names
df_short_names

,State,Zip,AGI_cat,Returns,Single,Joint,Hd_of_Hshld,AGI,Total_Income,Cap_Gain_Returns,...,Med_Dental_Returns,Med_Dental_Amt,Total_Taxes_Returns,Total_Taxes_Amt,Charitable_Returns,Charitable_Amt,Misc_Ded_Returns,Misc_Ded_Amt,Advance_Premium_Returns,Net_Investment_Tax_Amt
0,AL,0,1,720280.0,466930.0,75840.0,165330.0,9323038.0,9449210.0,37020.0,...,4390.0,67120.0,5140.0,11450.0,3220.0,15322.0,170.0,2609.0,59220.0,0.0
1,AL,0,2,524160.0,264900.0,109720.0,134980.0,18959208.0,19094415.0,38080.0,...,10660.0,145487.0,14970.0,44951.0,13240.0,95495.0,1760.0,33245.0,40620.0,0.0
2,AL,0,3,291860.0,120090.0,116380.0,46410.0,17933235.0,18056325.0,39930.0,...,8720.0,119946.0,19590.0,80438.0,17270.0,143381.0,1240.0,20860.0,11870.0,0.0
3,AL,0,4,184320.0,48650.0,115740.0,16120.0,15990196.0,16092775.0,34910.0,...,5220.0,80579.0,16010.0,80303.0,13430.0,133228.0,860.0,15704.0,4190.0,0.0
4,AL,0,5,287720.0,38750.0,234070.0,9640.0,39500365.0,39796286.0,89550.0,...,7840.0,136108.0,45530.0,324664.0,41580.0,575382.0,2120.0,63090.0,2150.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457,AL,99999,2,6090.0,3460.0,950.0,1520.0,220879.0,222224.0,370.0,...,300.0,2638.0,290.0,476.0,450.0,4633.0,150.0,3521.0,360.0,0.0
3458,AL,99999,3,3320.0,1710.0,970.0,570.0,203314.0,204536.0,390.0,...,100.0,910.0,270.0,940.0,220.0,1414.0,0.0,0.0,70.0,0.0
3459,AL,99999,4,1940.0,790.0,900.0,230.0,167708.0,168589.0,400.0,...,40.0,284.0,230.0,985.0,190.0,1500.0,0.0,0.0,30.0,0.0
3460,AL,99999,5,2930.0,780.0,1990.0,150.0,403076.0,407837.0,1090.0,...,90.0,966.0,620.0,4013.0,550.0,7006.0,30.0,487.0,0.0,0.0
3461,AL,99999,6,1950.0,390.0,1560.0,50.0,1892226.0,1907698.0,1480.0,...,20.0,406.0,1040.0,9728.0,970.0,65691.0,120.0,1656.0,0.0,24637.0

In [16]:
df_AL_valid_zip = df_short_names[(df_short_names['Zip'] != 0) & (df_short_names['Zip'] != 99999)]

# Display the filtered DataFrame
df_AL_valid_zip

,State,Zip,AGI_cat,Returns,Single,Joint,Hd_of_Hshld,AGI,Total_Income,Cap_Gain_Returns,...,Med_Dental_Returns,Med_Dental_Amt,Total_Taxes_Returns,Total_Taxes_Amt,Charitable_Returns,Charitable_Amt,Misc_Ded_Returns,Misc_Ded_Amt,Advance_Premium_Returns,Net_Investment_Tax_Amt
6,AL,35004,1,1320.0,930.0,180.0,190.0,16849.0,17083.0000,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0
7,AL,35004,2,1360.0,770.0,230.0,300.0,50206.0,50560.0000,100.0,...,30.0,489.0,50.0,113.0,40.0,150.0,0.0,0.0,110.0,0.0
8,AL,35004,3,1000.0,450.0,330.0,160.0,61047.0,61352.0000,110.0,...,40.0,528.0,70.0,270.0,70.0,492.0,0.0,0.0,40.0,0.0
9,AL,35004,4,600.0,170.0,340.0,70.0,51827.0,52098.0000,90.0,...,0.0,0.0,60.0,259.0,50.0,605.0,0.0,0.0,30.0,0.0
10,AL,35004,5,950.0,110.0,800.0,40.0,124711.0,125325.0000,210.0,...,20.0,239.0,110.0,788.0,110.0,1604.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451,AL,36925,2,340.0,120.0,30.0,180.0,11884.0,11925.0000,30.0,...,0.0,0.0,0.0,0.0,30.0,247.0,0.0,0.0,30.0,0.0
3452,AL,36925,3,100.0,40.0,20.0,50.0,6121.0,6172.0000,0.0,...,0.0,0.0,40.0,194.0,0.0,0.0,0.0,0.0,0.0,0.0
3453,AL,36925,4,40.0,20.0,20.0,0.0,3711.0,3711.0001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3454,AL,36925,5,40.0,0.0,30.0,0.0,6112.0,6112.0001,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3455,AL,36925,6,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Sum up all the columns in the 'Returns' row
returns_sum = df_AL_valid_zip.loc[:, 'Returns'].sum()
single_sum = df_AL_valid_zip.loc[:, 'Single'].sum()
joit_sum = df_AL_valid_zip.loc[:, 'Joint'].sum()
hd_of_Hshld_sum = df_AL_valid_zip.loc[:, 'Hd_of_Hshld'].sum()
# Display the sum
print("Total Returns:", returns_sum)
print("Total Single:", single_sum)
print("Total Joint:", joit_sum)
print("Total Head of Household:", hd_of_Hshld_sum)

Total Returns: 2086680.0
Total Single: 936510.0
Total Joint: 733310.0
Total Head of Household: 370060.0

In [18]:
# Calculate percentages
single_percentage = (single_sum / returns_sum) * 100
joint_percentage = (joit_sum / returns_sum) * 100
hd_of_hshld_percentage = (hd_of_Hshld_sum / returns_sum) * 100

# Display the percentages
print("Percentage of Returns that are Single:", single_percentage)
print("Percentage of Returns that are Joint:", joint_percentage)
print("Percentage of Returns that are Head of Household:", hd_of_hshld_percentage)

Percentage of Returns that are Single: 44.88038415089999
Percentage of Returns that are Joint: 35.14242720493799
Percentage of Returns that are Head of Household: 17.73439147353691

In [19]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('data.db')

# Store DataFrame in SQLite database
df_AL_valid_zip.to_sql('zip_data', conn, if_exists='replace', index=False)

# Close connection
conn.close()

In [20]:
from flask import Flask, jsonify
import sqlite3

app = Flask(__name__)

@app.route('/zip_data')
def get_zip_data():
    conn = sqlite3.connect('data.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM zip_data')
    data = cursor.fetchall()
    conn.close()
    return jsonify(data)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1

C:\Users\joesa\anaconda3\envs\Env\Lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)